<!doctype html>
<html>
    <head>
        {% block head %}
        {% endblock %}

        <meta property="og:site_name" content="QuiVoteQuoi" />

        <link href="{{ url_for('static', filename='css/cerulean.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/quivotequoi.css') }}" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-typeahead.js') }}"></script>
        <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">
                        QuiVoteQuoi
                    </a>
                    <div class="container">
                        <form class="navbar-search form-search pull-left">
                            <input id="search" type="text" class="search-query span8" autocomplete="off" placeholder="Tapez le nom d'un depute...">
                        </form>
                    </div>
                </div>
            </div>
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
