{% extends "base.html" %}
{% block head %}
    <title>{{ deputy.name }} - QuiVoteQuoi</title>
    <script src="{{ url_for('static', filename='js/bootstrap-collapse.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".collapse").collapse();
        });
    </script>
    <meta property="og:title" content="QuiVoteQuoi - {{ deputy.name }}" />
    <meta property="og:image" content="{{ deputy.image }}" />
{% endblock %}
{% block content %}
<section id="depute">
    <div class="page-header" style="padding-bottom: 2px;">
        <h1 style="text-align: right;">{{ deputy.name }}</h1>
    </div>
    <div class="row">
        <div class="span2">
            <ul class="thumbnails">
                <li class="">
                    <a href="#" class="thumbnail">
                        <img style="height: 128px;" src="{{ deputy.image }}"</img>
                    </a>
                </li>
            </ul>
        </div>
        <div class="offset1"><h3>{{ deputy.jurisdiction }}</h3></div>
        <div class="offset1"><h3>{{ deputy.party }}</h3></div>
        <div class="offset1"><i class="icon-info-sign"></i> <a href="{{ deputy.url }}">Voir sur le site de l'Assemblee Nationale</a></div>
        <div class="offset1"><i class="icon-info-sign"></i> <a href="http://www.nosdeputes.fr/{{ deputy.name|lower|replace(" ", "-") }}">Voir sur NosDeputes.fr</a></div>
    </div>
</section>
<section id="scrutins">
    <div class="tabbable">
        <ul class="nav nav-tabs offset">
            {% for vote, results in queries.items() %}
                <li class="{% if loop.first %}active{% endif %}">
                    <a href="#votes_{{ vote}}" data-toggle="tab">{{ {"yea": "Pour", "nay":"Contre", "abs": "Abstenu"}[vote] }} <span class="badge {{ {"yea": "badge-success", "nay": "badge-important", "abs": "badge-inverse"}[vote] }}">{{ results.total }}</span></a></li>
                </li>
            {% endfor %}
            <li class="span2 pull-right"><h1>Scrutins</h1></li>
        </ul>
        <div class="tab-content">
            {% for vote, results in queries.items() %}
                <div class="tab-pane {% if loop.first %}active{% endif %}" id="votes_{{ vote }}">
                    <table class="table table-striped">
                        <tbody>
                            {% for result in results.hits %}
                                {% include "scrutiny.html" %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
